// Mixins Here
.buttons(@bg, @btn-font-color) {
    background: @bg;
    color: @btn-font-color;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 25%;
    padding: 2% 0;
}